Flask~=3.0.3
Flask-Bootstrap
requests~=2.32.3
beautifulsoup4~=4.12.3
lxml~=5.2.2
psycopg2-binary
python-dotenv~=1.0.1
Flask-SQLAlchemy
selenium~=4.22.0
webdriver-manager
pyppeteer~=2.0.0
playwright~=1.44.0